<!doctype html>
<html>

<head>
	<title>Customers</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">

	<!--favicon (for the demoapp only)-->
	<link rel="shortcut icon" type="image/png" href="/images/favicon.ico">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
	
	<style type="text/css">
		.hidden { display:none; }
	</style>

	<!-- polyfill for html imports + xcomponents imports -->
	<script type="text/javascript" src="/bower_components/xcomponents/dist/js/xc-base.js"></script>
	<script type="text/javascript" src="/bower_components/webcomponentsjs/HTMLImports.min.js"></script>
	<link rel="import" href="/bower_components/xcomponents/dist/includes/includes-pouch.html">

	<!-- xcomponents config -->
	<script type="text/javascript" src="mainConfig.js"></script>
</head>

<body ng-controller="xcPouchCtrl" class="hidden">

	<xc-header title="Pouch Customers">

	</xc-header>

	<xc-layout>

		<div class="bootcards-cards">

			<div class="col-sm-6">

				<xc-summary title="Workspace" footer-text="Built with Bootcards - Summary Card">

					<xc-summary-item title="Contacts" target="contacts.html" icon="fa-users" count="{{numContacts}}"></xc-summary-item>
					
				</xc-summary>
				
			</div>
			<div class="col-sm-6">

				<button ng-click="loadData()" class="btn btn-primary">Load data into local store</button>

				<button ng-click="clearData()" class="btn btn-primary">Clear local datastore</button>
	
			</div>
		</div>

	</xc-layout>

	<xc-footer>
		
	</xc-footer>
	
</body></html>