
<div>

	<!-- text if no item is selected -->
	<div ng-class="{'panel panel-default' : true , 'hidden' : selectedItem || !defaultText }">
		<div class="list-group">
			<div class="list-group-item">
				{{defaultText}}
			</div>
		</div>
	</div>

	<!-- card (read) -->
	<div ng-class="{'panel panel-default' : true , 'hidden' : !selectedItem}">

		<div class="panel-heading clearfix">
			<h3 class="panel-title pull-left">{{modelName}}</h3>
			<a class="btn btn-primary pull-right hidden-xs" data-toggle="modal" data-target="#editModal">
				<i class="fa fa-pencil"></i><span>Edit</span>
			</a>

		</div>

		<div class="list-group">

			<div ng-repeat="field in fieldsRead">

				<div class="list-group-item" ng-show="field.type=='text'">
					<label>{{field.label}}</label>
					<h4 class="list-group-item-heading">{{selectedItem[field.field]}}</h4>
				</div>
				<div class="list-group-item" ng-show="field.type=='multiline'">
					<label>{{field.label}}</label>
					<h4 class="list-group-item-heading">{{selectedItem[field.field]}}</h4>
				</div>
				<a href="mailto:{{selectedItem[field.field]}}" class="list-group-item" 
					ng-show="field.type=='email'">
					<label>{{field.label}}</label>
					<h4 class="list-group-item-heading">{{selectedItem[field.field]}}</h4>
				</a>
				<a href="tel:{{selectedItem[field.field]}}" class="list-group-item" 
					ng-show="field.type=='phone'">
					<label>{{field.label}}</label>
					<h4 class="list-group-item-heading">{{selectedItem[field.field]}}</h4>
				</a>

			<div>
		</div>

	</div>

	<!--modal to edit details-->
	<form class="form-horizontal" name="cardForm" role="form">
	<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
			
				<div class="modal-header">

					<div class="btn-group pull-left">
						<button class="btn btn-danger" data-dismiss="modal" type="button">
							Cancel
						</button>
					</div>
				
					<div class="btn-group pull-right">
						<button class="btn btn-success" type="button" ng-click="saveItem(cardForm, '#editModal')">
							Save
						</button>
					</div>
					<h4 class="modal-title">Edit {{modelName}}</h4>		
				</div>
				
				<div class="modal-body">

					<div class="form-group" ng-repeat="field in fieldsEdit" ng-class="{ 'has-error': cardForm[field.field].$invalid }">

						<label class="col-xs-3 control-label">{{field.label}}</label>
						<div class="col-xs-9">
							<input class="form-control" name="{{field.field}}" ng-model="selectedItem[field.field]" ng-required="field.required" ng-show="field.type!='multiline'" />
							<textarea class="form-control" name="{{field.field}}" ng-model="selectedItem[field.field]" ng-required="field.required" ng-show="field.type=='multiline'" />
						</div>

					</div>

				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-danger btn-block" ng-click="deleteItem()" data-dismiss="modal">
						<i class="fa fa-trash-o"></i>
						Delete Contact
					</button>		
				</div>


			</div>
		</div>
	</div>	
	</form>

</div>