 <div class="container bootcards-container">

 <div class="row">

 	<div class="bootcards-list {{colLeft}}">

		<div class="panel panel-default">

			<ng-include src="'xc-list-heading.html'"></ng-include>

			<div class="list-group">

				<div ng-repeat="group in groups" class="animate-repeat">
					<a ng-class="{'collapsed' : group.collapsed}" class="list-group-item bootcards-list-subheading" ng-click="toggleCategory(group)">
						{{group.name}}
					</a>
				
					<a class="list-group-item" ng-show="!group.collapsed" ng-repeat="item in group.entries | filter : filter" ng-click="select(item)"
						ng-class="{'active' : selected == item}">

						<!--(placeholder) icon-->
						<i ng-if="showPlaceholder(item)" class="fa fa-3x pull-left" ng-class="'fa-' + imagePlaceholderIcon"></i>
						<i ng-if="showIcon(item)" class="fa fa-3x pull-left" ng-class="'fa-' + item[iconField]"></i>
					
						<!--image-->
						<img 
						ng-if="showImage(item)"
						class="img-rounded pull-left" 
						ng-src="{{ imageBase + item[imageField] }}" />

						<h4 class="list-group-item-heading">{{item[summaryField]}}</h4>

						<p class="list-group-item-text">{{item[detailsField]}}</p>
						
					</a>

					
				</div>

				<div class="list-group-item" ng-show="isLoading">
					<i class="fa fa-spinner fa-spin fa-fw" style="margin-right:0; opacity: 1;"></i>Loading...
				</div>

				<div class="list-group-item" ng-show="!isLoading && hasMore" ng-click="loadMore()">
					Load more...
				</div>

			</div>

		</div>

	</div>

	<div class='bootcards-cards {{colRight}}'>

		<ng-transclude></ng-transclude>

	</div>

 </div>

<!--modal to add details-->
<form class="form-horizontal" name="cardNewForm" role="form">
	<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
			
				<div class="modal-header">

					<div class="btn-group pull-left">
						<button class="btn btn-danger" data-dismiss="modal" type="button">
							Cancel
						</button>
					</div>
				
					<div class="btn-group pull-right">
						<button class="btn btn-success" type="button" ng-click="saveNewItem(cardNewForm, '#addModal')">
							Save
						</button>
					</div>
					<h4 class="modal-title">Add {{modelName}}</h4>		
				</div>
				
				<div class="modal-body">

					<div class="form-group" ng-repeat="field in fieldsEdit" ng-class="{ 'has-error': cardNewForm[field.field].$invalid }">
						<label class="col-xs-3 control-label">{{field.label}}</label>
						<div class="col-xs-9" ng-if="field.type=='text' || field.type=='email' || field.type=='phone'">
							<input class="form-control" name="{{field.field}}" ng-model="newItem[field.field]" ng-required="field.required"  />
							<a class="fa fa-times-circle fa-lg clearer" ng-click="clear(field.field)"></a>
						</div>
						<div class="col-xs-9" ng-if="field.type=='date'">
							<input class="form-control" type="date" name="{{field.field}}" ng-model="newItem[field.field]" ng-required="field.required"  />
						</div>
						<div class="col-xs-9" ng-if="field.type=='multiline'">
							<textarea class="form-control" name="{{field.field}}" ng-model="newItem[field.field]" ng-required="field.required" />
							<a class="fa fa-times-circle fa-lg clearer" ng-click="clear(field.field)"></a>
						</div>
						<div class="col-xs-9" ng-if="field.type=='select'">
							<select class="form-control" name="{{field.field}}" ng-model="newItem[field.field]" ng-required="field.required">
								<option ng-repeat="o in field.options" value="{{o}}">{{o}}</option>
							</select>
						</div>
						<div class="col-xs-9" ng-if="field.type=='select-multiple'">
							<select class="form-control" multiple name="{{field.field}}" ng-model="newItem[field.field]" ng-required="field.required" >
								<option ng-repeat="o in field.options" value="{{o}}">{{o}}</option>
							</select>
						</div>
						<div class="col-xs-9" ng-if="field.type=='toggle'">	
							<xc-toggle ng-model="newItem[field.field]"></xc-toggle>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>	
</form>

</div>

