<!doctype html>
<html>

<head>
    <title>XComponents</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--favicon (for the demoapp only)-->
    <link rel="shortcut icon" type="image/png" href="/images/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    
    <!--set the hidden class here, so everything is immediately hidden-->
    <style type="text/css">
        .hidden {
            display:none;
        }
    </style>
    
    <!-- polyfill for html imports -->
    <script type="text/javascript" src="/bower_components/webcomponentsjs/HTMLImports.min.js"></script>

    <!-- all xcomponents resources -->
    <link rel="import" href="/bower_components/xcomponents/dist/includes/includes.html">
    
    <script type="text/javascript" src="mainConfig.js"></script>
    <script src="modal.js"></script>
    
</head>

<body ng-controller="xcController" class="hidden">

    <xc-header title="Modal"></xc-header>
    
    <xc-layout>

        <div ng-controller="ModalDemoCtrl">
            <script type="text/ng-template" id="myModalContent.html">
                <div class="modal-header">
                    <h3 class="modal-title">I'm a modal!</h3>
                </div>
                <div class="modal-body">
                    <ul>
                        <li ng-repeat="item in items">
                            <a ng-click="selected.item = item">{{ item }}</a>
                        </li>
                    </ul>
                    Selected: <b>{{ selected.item }}</b>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="ok()">OK</button>
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </div>
            </script>

            <button class="btn btn-default" ng-click="open()">Open me!</button>
            <button class="btn btn-default" ng-click="open('lg')">Large modal</button>
            <button class="btn btn-default" ng-click="open('sm')">Small modal</button>
            <div ng-show="selected">Selection from a modal: {{ selected }}</div>
        </div>

    </xc-layout>

</body>
</html>